<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>BeePoly | Đổi mật khẩu</title>
    <style type="text/css">

    </style>

</head>

<body>
    <div class="wrapper">

        <div class="navnav">

            <nav class="navbar navbar ">
                <div class="sidebar-header">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/2/20/FPT_Polytechnic.png" height=55px
                        width=160px />
                </div>
            </nav>

            <div class="container">

                <div class="main">
                    <div class="main1"><br>
                        <h4>Thay đổi mật khẩu</h4><br>
                        <form method="POST" role="form"
                            oninput='up2.setCustomValidity(up2.value != up.value ? "Passwords do not match." : "")' class="needs-validation" novalidate>
                            <div class="form-group">
                                <label for="usr">Tài khoản</label>
                                <input type="text" class="form-control" required [(ngModel)]="user.username" [ngModelOptions]="{standalone: true}" readonly />
                                <div class="invalid-feedback">Vui lòng nhập tài khoản!</div>
                            </div>
                            <div class="form-group">
                                <label for="pwd">Mật khẩu mới</label>
                                <input type="password" class="form-control pwd" name="up" required value="" [(ngModel)]="user.password" [ngModelOptions]="{standalone: true}">
                                <div class="invalid-feedback">Vui lòng nhập mật khẩu mới!</div>
                            </div>
                            <div class="form-group">
                                <label for="pwd">Nhập lại mật khẩu mới</label>
                                <input type="password" class="form-control pwd" name="up2" required value="" [(ngModel)]="confirmpass" [ngModelOptions]="{standalone: true}">
                                <div class="invalid-feedback">Vui lòng nhập lại mật khẩu mới!</div>
                            </div>

                            <div class="input-group">
                                          <span class="input-group-prepend">
                                            <button class="btn btn-default reveal" type="button"><img src="https://cdn0.iconfinder.com/data/icons/mono2/100/view-128.png" class="glyphicon glyphicon-eye-open" height="25px" width="25px"> Hiển thị mật khẩu?</button>
                                          </span>          
                                        </div>
                            <br>
                            <button type="submit" class="btn btn-primary"(click)="update()">Cập nhật <img src="https://cdn3.iconfinder.com/data/icons/google-material-design-icons/48/ic_system_update_tv_48px-128.png" height="20px" width="20px"></button>
                            <button type="submit" class="btn btn-primary" style="margin-left: 5px;" [routerLink]="['/']">Quay lại login <img src="https://cdn3.iconfinder.com/data/icons/allrounder-basic/512/rearrange-128.png" height="20px" width="20px"></button>
                        </form><br><br>
                    </div>
                </div>

            </div>

            <div class="footer">
                @Bee.Edu.vn
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
        integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
        crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
        integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
        crossorigin="anonymous"></script>

    <script type="text/javascript">

    </script>
</body>

</html>