<!DOCTYPE html>
<html>
 
<head> 
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>BeePoly | Thông tin cá nhân</title>
    <style type="text/css">

    </style>

</head>
<body>
    <div class="wrapper">
        <nav id="sidebar">
            <div class="sidebar-header">
                <img src="https://upload.wikimedia.org/wikipedia/commons/2/20/FPT_Polytechnic.png" height=55px width=160px/>
            </div>

            <ul class="list-unstyled">
                <li>
                    <a [routerLink]="['/student/news']">&nbsp;&nbsp;&nbsp;&nbsp;<img src="https://cdn2.iconfinder.com/data/icons/font-awesome/1792/bell-o-128.png" height="20" width="20"/>&nbsp;&nbsp;&nbsp;&nbsp;Thông báo và tin tức</a>
                </li>
                <li>
                    <a [routerLink]="['/student/attends']">&nbsp;&nbsp;&nbsp;&nbsp;<img src="https://cdn4.iconfinder.com/data/icons/core-ui-outlined/32/outlined_tick-128.png" height="20" width="20"/>&nbsp;&nbsp;&nbsp;&nbsp;Ðiểm danh</a>
                </li>

                <li class="sidenav" >
                    <a class="dropdown-btn dropdown-toggle" data-toggle="dropdown" >&nbsp;&nbsp;&nbsp;&nbsp;<img src="https://cdn3.iconfinder.com/data/icons/google-material-design-icons/48/ic_format_list_bulleted_48px-128.png" height="20" width="20"/>&nbsp;&nbsp;&nbsp;&nbsp;Lịch học&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </a> 
                     <ul class="dropdown-container" id="drop">
                        <li><a href="#" [routerLink]="['/student/schedule']">Lịch học</a></li>
                        <li><a href="#" [routerLink]="['/student/student-schedule-test']">Lịch thi</a></li>
                     </ul>
                </li>

                <li class="sidenav" >
                    <a class="dropdown-btn dropdown-toggle" data-toggle="dropdown">&nbsp;&nbsp;&nbsp;&nbsp;<img src="https://cdn2.iconfinder.com/data/icons/freecns-cumulus/16/519609-108_Bookmark-128.png" height="20" width="20"/>&nbsp;&nbsp;&nbsp;&nbsp;Điểm &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </a>
                     <ul class="dropdown-container" id="drop">
                        <li><a href="#" [routerLink]="['/student/semester-score']">Bảng điểm theo kỳ</a></li>
                        <li><a href="#" [routerLink]="['/student/history']">Lịch sử học</a></li>
                        <li><a href="#" [routerLink]="['/student/score']">Bảng điểm</a></li>
                     </ul>
                </li>
                <li>
                    <a href="#" [routerLink]="['/student/achievements']">&nbsp;&nbsp;&nbsp;&nbsp;<img src="https://cdn4.iconfinder.com/data/icons/basic-user-interface-elements/700/favorite-rank-star-bookmark-rating-128.png" height="20" width="20"/>&nbsp;&nbsp;&nbsp;&nbsp;Thành tích/Kỷ luật</a>
                </li>
<!--                 <li>
                    <a href="#">&nbsp;&nbsp;&nbsp;&nbsp;<img src="https://cdn2.iconfinder.com/data/icons/pittogrammi/142/39-128.png" height="20" width="20"/>&nbsp;&nbsp;&nbsp;&nbsp;Dịch vụ trực tuyến</a>
                </li>
                <li>
                    <a href="#">&nbsp;&nbsp;&nbsp;&nbsp;<img src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-telephone-outline-128.png" height="20" width="20"/>&nbsp;&nbsp;&nbsp;&nbsp;SMS</a>
                </li> -->
            </ul>
        </nav>

        <div class="navnav">
            <nav class="navbar navbar ">
                <div class="navbutton">
                    <button type="button" id="sidebarCollapse" class="navbar-btn"> 
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                </div>
                <div class="dropdown">
                    <button type="button" class="welcomename dropdown-toggle" data-toggle="dropdown">
                      Xin chào! {{welcomename}} 
                    </button>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="#" [routerLink]="['/student/profile']">Xem thông tin</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="/change-password" (click)="change()">Đổi mật khẩu</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" (click)="logout()">Đăng xuất</a>
                    </div>
                </div>
            </nav>


            <div class="container">
                <div class="main">
                    <div class="main1">
                    <br>
                    <span>Thông tin sinh viên</span>
                    <hr>
                    <div class="container">
                        <div class="row">
                            <div class="col-4">
                                 <br>
                                <div class="imgg"><img height="170px;" width="129px;" src="{{student.avt}}"></div>
                            </div>
                            <div class="col-8">
                             <br>
                             <div class="tab-content profile-tab" id="myTabContent" style="font-size: 13px;">
                                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                            <div class="row">
                                                <div class="col-md-4">
                                                <label>Mã sinh viên</label>
                                                </div>
                                                <div class="col-md-8">
                                                    <input type="text" value="{{student.id_students}}" readonly>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <label>Họ tên</label>
                                                </div>
                                                <div class="col-md-8">
                                                    <input type="text" value="{{student.name}}" readonly>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <label>Email</label>
                                                </div>
                                                <div class="col-md-8">
                                                    <input type="text" value="{{student.email}}" readonly>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <label>Ngày sinh</label>
                                                </div>
                                                <div class="col-md-8">
                                                    <input type="text" value="{{student.birthday | date: 'dd/MM/yyyy'}}" readonly>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <label>Giới tính</label>
                                                </div>
                                                <div class="col-md-8">
                                                    <input type="text" value="{{student.gender?'Nam':'Nữ'}}" readonly>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <label>Số điện thoại</label>
                                                </div>
                                                <div class="col-md-8">
                                                    <input type="text" value="{{student.phone}}" readonly>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <label>Số CMND</label>
                                                </div>
                                                <div class="col-md-8">
                                                    <input type="text" value="{{student.identity_card}}" readonly>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <label>Ngày nhập học</label>
                                                </div>
                                                <div class="col-md-8">
                                                    <input type="text" value="{{student.admissions | date: 'dd/MM/yyyy'}}" readonly>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <label>Địa chỉ</label>
                                                </div>
                                                <div class="col-md-8">
                                                    <input type="text" value="{{student.address}}" readonly>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <label>Khóa học</label>
                                                </div>
                                                <div class="col-md-8">
                                                    <input type="text" value="{{student.id_nominalclass.id_course.name}}" readonly>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <label>Ngành học</label>
                                                </div>
                                                <div class="col-md-8">
                                                    <input type="text" value="{{student.id_major.name}}" readonly>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <label>Lớp học</label>
                                                </div>
                                                <div class="col-md-8">
                                                    <input type="text" value="{{student.id_nominalclass.id_nominalclass}}" readonly>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <label>Trạng thái</label>
                                                </div>
                                                <div class="col-md-8">
                                                    <input type="text" value="{{student.isdelete ? 'Disable': 'Active'}}" readonly>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </div>
                         <br>
                    </div>
                </div>
            </div>
            <div class="footer">
                @Bee.Poly.Edu.vn
            </div>
        </div>
    </div>



    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
    <!-- Popper.JS -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script> -->
    <!-- Bootstrap JS -->
    <!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script> -->

</body>
</html>
