<!DOCTYPE html>
<html>
 
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>BeePoly | Quản lí lớp</title>
    <style type="text/css">


    </style>

</head>

<body>
    <div class="wrapper">
        <nav id="sidebar">
            <div class="sidebar-header">
                <img src="https://upload.wikimedia.org/wikipedia/commons/2/20/FPT_Polytechnic.png" height=55px
                    width=160px />
            </div>
            <ul class="list-unstyled">
                <li>
                    <a href="/admin/dashboard">&nbsp;&nbsp;&nbsp;&nbsp;<img
                            src="https://cdn4.iconfinder.com/data/icons/basic-ui-2-line/32/house-home-main-menu-start-building-128.png"
                            height="22" width="22" />&nbsp;&nbsp;&nbsp;&nbsp;Trang chủ</a>
                </li>
                <li>
                    <a class="dropdown-btn dropdown-toggle" data-toggle="dropdown">&nbsp;&nbsp;&nbsp;&nbsp;<img
                            src="https://cdn0.iconfinder.com/data/icons/data-visualization-2/64/Data_Visualization_4-128.png"
                            height="20" width="20" />&nbsp;&nbsp;&nbsp;&nbsp;Quản lí thông tin
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </a>
                    <ul class="dropdown-container" id="drop">
                        <li><a href="/admin/manage-student">Thông tin sinh viên</a></li>
                        <li *ngIf="show"><a href="/admin/manage-teacher">Thông tin giảng viên</a></li>
                        <li *ngIf="show"><a href="/admin/manage-employee">Thông tin nhân viên</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/admin/manage-major">&nbsp;&nbsp;&nbsp;&nbsp;<img
                            src="https://cdn3.iconfinder.com/data/icons/e-learning-outline-distance-education/512/E-learning_notification-128.png"
                            height="22" width="22" />&nbsp;&nbsp;&nbsp;&nbsp;Quản lí ngành học</a>
                </li>
                <li>
                    <a class="dropdown-btn dropdown-toggle" data-toggle="dropdown">&nbsp;&nbsp;&nbsp;&nbsp;<img
                            src="https://cdn4.iconfinder.com/data/icons/online-courses-outline/64/course_online-256.png"
                            height="20" width="20" />&nbsp;&nbsp;&nbsp;&nbsp;Quản lí điểm danh
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </a>
                    <ul class="dropdown-container" id="drop">
                        <li><a href="/admin/manage-attendsbyclass">Danh sách theo lớp</a></li>
                        <li><a href="/admin/manage-attends">Cập nhật điểm danh</a></li>      
                    </ul>
                </li>
                 <li *ngIf="show">
                    <a href="/admin/manage-account">&nbsp;&nbsp;&nbsp;&nbsp;<img
                            src="https://cdn3.iconfinder.com/data/icons/eldorado-stroke-work/40/profile_2-128.png"
                            height="20" width="20" />&nbsp;&nbsp;&nbsp;&nbsp;Quản lí tài khoản</a>
                </li>
                <li>
                    <a class="dropdown-btn dropdown-toggle" data-toggle="dropdown">&nbsp;&nbsp;&nbsp;&nbsp;<img
                            src="https://cdn4.iconfinder.com/data/icons/online-courses-outline/64/course_online-256.png"
                            height="20" width="20" />&nbsp;&nbsp;&nbsp;&nbsp;Quản lí điểm số
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </a>
                    <ul class="dropdown-container" id="drop">
                        <li><a href="/admin/manage-resultbyclass">Danh sách điểm</a></li>
                        <li><a href="/admin/manage-result">Cập nhật điểm</a></li>      
                    </ul>
                </li>
                <li>
                    <a href="/admin/manage-course">&nbsp;&nbsp;&nbsp;&nbsp;<img
                            src="https://cdn3.iconfinder.com/data/icons/e-learning-outline-distance-education/512/E-learning_flexible_schedule-128.png"
                            height="22" width="22" />&nbsp;&nbsp;&nbsp;&nbsp;Quản lí khóa học</a>
                </li>
                <li class="active">
                    <a class="dropdown-btn dropdown-toggle" data-toggle="dropdown">&nbsp;&nbsp;&nbsp;&nbsp;<img
                            src="https://cdn4.iconfinder.com/data/icons/online-education-9/500/online-education-study_15-128.png"
                            height="20" width="20" />&nbsp;&nbsp;&nbsp;&nbsp;Quản lí lớp học
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </a>
                    <ul class="dropdown-container" id="drop">
                        <li><a href="/admin/manage-nominalclass">Lớp danh nghĩa</a></li>
                        <li><a href="/admin/manage-class">Lớp học môn</a></li>        
                    </ul>
                </li>
                <li *ngIf="show">
                    <a href="/admin/manage-subject">&nbsp;&nbsp;&nbsp;&nbsp;<img
                            src="https://cdn1.iconfinder.com/data/icons/marketing-and-advertising-line/128/Customer-Survey_Customer_Survey_customer-satisfaction_evaluate_feedback_checklist_performance-128.png"
                            height="20" width="20" />&nbsp;&nbsp;&nbsp;&nbsp;Quản lí môn học</a>
                </li>
               <li>
                    <a class="dropdown-btn dropdown-toggle" data-toggle="dropdown">&nbsp;&nbsp;&nbsp;&nbsp;<img
                            src="https://cdn4.iconfinder.com/data/icons/online-courses-outline/64/course_online-256.png"
                            height="20" width="20" />&nbsp;&nbsp;&nbsp;&nbsp;Quản lí lịch dạy và học
                        &nbsp;&nbsp;&nbsp;
                    </a>
                    <ul class="dropdown-container" id="drop">
                        <li><a href="/admin/manage-schedules-datenow">Lịch dạy hôm nay</a></li>
                        <li><a href="/admin/manage-schedules">Quản lí lịch dạy-học</a></li>      
                    </ul>
                </li>
                <li>
                    <a href="/admin/manage-semester">&nbsp;&nbsp;&nbsp;&nbsp;<img
                            src="https://cdn0.iconfinder.com/data/icons/office-stuff-3/48/office_stuff_book_remind_dairy_work_manage_10-128.png"
                            height="22" width="22" />&nbsp;&nbsp;&nbsp;&nbsp;Quản lí học kỳ</a>
                </li>
                <li>
                    <a class="dropdown-btn dropdown-toggle" data-toggle="dropdown">&nbsp;&nbsp;&nbsp;&nbsp;<img
                            src="https://cdn1.iconfinder.com/data/icons/unigrid-multimedia/60/020_label_folder_phone_book_contacts_documents_3-128.png"
                            height="22" width="22" />&nbsp;&nbsp;&nbsp;&nbsp;Quản lí phòng học &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </a>
                    <ul class="dropdown-container" id="drop">
                        <li><a href="/admin/manage-roomdatenow">Tra cứu phòng học</a></li>
                        <li><a href="/admin/manage-room">Quản lí phòng học</a></li>      
                    </ul>
                </li>
                <li>
                    <a href="/admin/manage-skoftes">&nbsp;&nbsp;&nbsp;&nbsp;<img
                            src="https://cdn4.iconfinder.com/data/icons/unigrid-basic/60/019_timer_time_stopwatch_3-128.png"
                            height="22" width="20" />&nbsp;&nbsp;&nbsp;&nbsp;Quản lí ca học</a>
                </li>
                <li>
                    <a class="dropdown-btn dropdown-toggle" data-toggle="dropdown">&nbsp;&nbsp;&nbsp;&nbsp;<img
                            src="https://cdn0.iconfinder.com/data/icons/time-calendar/24/time_event_calendar_check_attend-256.png"
                            height="20" width="20" />&nbsp;&nbsp;&nbsp;&nbsp;Quản lí bài viết
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </a>
                    <ul class="dropdown-container" id="drop">
                        <li><a href="/admin/manage-category">Chuyên mục</a></li>
                        <li><a href="/admin/manage-post">Bài viết</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/admin/manage-evalue">&nbsp;&nbsp;&nbsp;&nbsp;<img
                            src="https://cdn1.iconfinder.com/data/icons/analytic/512/11_data_analytic_statistics-128.png"
                            height="22" width="22" />&nbsp;&nbsp;&nbsp;&nbsp;Đánh giá giảng viên</a>
                </li>
                <li>
                    <a href="/admin/sendMail">&nbsp;&nbsp;&nbsp;&nbsp;<img
                            src="https://cdn2.iconfinder.com/data/icons/picons-basic-2/57/basic2-052_envelope_mail_letter-128.png"
                            height="22" width="22" />&nbsp;&nbsp;&nbsp;&nbsp;Gửi mail thông báo</a>
                </li>
                <li>
                    <a href="/admin/manage-record">&nbsp;&nbsp;&nbsp;&nbsp;<img
                            src="https://cdn2.iconfinder.com/data/icons/project-management-12/68/572-128.png"
                            height="22" width="22" />&nbsp;&nbsp;&nbsp;&nbsp;Quản lí thành tích/kỷ luật</a>
                </li>
                <li>
                    <a class="dropdown-btn dropdown-toggle" data-toggle="dropdown">&nbsp;&nbsp;&nbsp;&nbsp;<img
                            src="https://cdn0.iconfinder.com/data/icons/statistical-analysis-15/64/statistics-graph-graphic-growing-business-stats-bars_-128.png" height="18" width="18" />&nbsp;&nbsp;&nbsp;&nbsp;Thống kê
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </a>
                    <ul class="dropdown-container" id="drop">
                        <li><a href="/admin/statistical-student-by-year">Tổng số sinh viên/năm</a></li>
                        <li><a href="/admin/statistical-student-by-major">Tổng số sinh viên/ngành</a></li>
                        <li><a href="/admin/statistical-student-best-by-major">Sinh viên giỏi/ngành</a></li>
                        <li><a href="/admin/statistical-student-best-semester">Xếp loại sinh viên/kỳ</a></li>
                    </ul>

                </li>
            </ul>
        </nav>
        
        <div class="navnav">

            <nav class="navbar navbar ">
                <div class="navbutton">
                    <button type="button" id="sidebarCollapse" class="navbar-btn">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                </div>
                <div class="dropdown">
                    <button type="button" class="welcomename dropdown-toggle" data-toggle="dropdown">
                      Xin chào! {{welcome}}
                    </button>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="#" [routerLink]="['/admin/profile-employee']" *ngIf="!show">Xem thông tin</a>
                      <div class="dropdown-divider" *ngIf="!show"></div>
                      <a class="dropdown-item" href="/change-password" (click)="change()" *ngIf="!show">Thay đổi mật khẩu</a>
                      <div class="dropdown-divider" *ngIf="!show"></div>
                      <a class="dropdown-item" (click)="logout()">Đăng xuất</a>
                    </div>
                </div>
            </nav>

            <div class="container">

                <div class="main">
                    <div class="main1"><br>
                        <h4>THÊM SINH VIÊN (LỚP DANH NGHĨA)<button type="button" class="btn btn-primary" data-toggle="modal"
                            data-target="#myModal" style="float: right;">Thêm sinh viên</button></h4>
                        <hr><br>
                        <form action="/action_page.php" id="Q_A" class="needs-validation" novalidate>
                            <div class="alert alert-success alert-dismissible fade show" *ngIf="messSuccess !=null">
                                <button type="button" class="close" data-dismiss="alert" >&times;</button>
                                <strong>{{messSuccess}}</strong>
                              </div>
                              <div class="alert alert-danger alert-dismissible fade show" *ngIf="messErrors !=null">
                                <button type="button" class="close" data-dismiss="alert" >&times;</button>
                                <strong>{{messErrors}}</strong>
                            </div>
                            <div class="form-group">
                            	<div class="row">
                                    <div class="col-6 bg-default">
                                    	<label for="pwd">Lớp học</label>
		                                <select class="custom-select browser-default" [(ngModel)]="id_nominal" [ngModelOptions]="{standalone: true}" required>
		                                    <option *ngFor="let nominal of nominalClasses" [ngValue]="nominal.id_nominalclass">
		                                       {{nominal.id_nominalclass}}
		                                    </option>
		                                </select>
                                        <div class="invalid-feedback">Vui lòng chọn lớp!</div>
                                    </div>

                                    <div class="col-6 bg-default">
                                    	<label for="pwd">Ngành học</label>
		                                <select class="custom-select browser-default" [(ngModel)]="id_major" (ngModelChange)="onChangeMajor($event)" [ngModelOptions]="{standalone: true}">
		                                    <option *ngFor="let major of majors" [ngValue]="major.id_major">
		                                        {{major.name}}
		                                    </option>
		                                </select>
                                    </div>
                                </div>
                                
                            </div>

                            <table class="table table-striped" id="myTable" style="font-size: 14px;">
                                <thead>
                                    <tr>
                                        <td>Mã sinh viên</td>
                                        <td>Tên sinh viên</td>
                                        <td>Lựa chọn (click)</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of students | paginate: { id: 'listing_pagination', itemsPerPage: 10, currentPage: page, totalItems: totalRecords}">
                                        <td>{{item.id_students}}</td>
                                        <td>{{item.name}}</td>
                                        <td>
                                            <input type="checkbox" value="1" class="form-check-input" name="{{item.id_students}}"
                                               style="margin-left: 25px;">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <hr>
                            <pagination-controls class="pagination" id="listing_pagination" maxSize="10" directionLinks="true" (pageChange)="page = $event"></pagination-controls>
                            <br>
                            <button type="submit" class="btn btn-primary" (click)="onAddStudentNominalClass()">Lưu <img src="https://cdn1.iconfinder.com/data/icons/essentials-pack/96/download_arrow_save_downloading_interface-128.png" height="20px" width="20px">
                            </button>
                        </form><br>
                        <hr><br>
                        <h4>DANH SÁCH LỚP</h4>
                        <br>
                        
                         <div class="row">
                              <div class="col-5 bg-default">
                                    <label for="pwd">Lớp học</label>
		                            <select class="custom-select browser-default" [(ngModel)]="id_clazzNominal" (ngModelChange)="onChangeNominalClassById($event)" [ngModelOptions]="{standalone: true}">
		                                <option *ngFor="let nominal of nominalClasses" [ngValue]="nominal.id_nominalclass">
		                                       {{nominal.id_nominalclass}}
		                                </option>
		                            </select>
                              </div>
                             <div class="col-7 bg-default">
                                <input type="text" class="form-control" placeholder="Tìm kiếm..." style="margin-top: 32px;" [(ngModel)]="search">
                             </div>
                         </div>
                        <br>
                        <div #TABLE #table>
                         <div class="row">
                             <div class="col-6 bg-default">
                             </div>
                              <div class="col-6 bg-default">
                                <button class="excelimport" (click)="ExportTOExcel()">Xuất file excel</button>
                             </div>
                        </div>
                        <br>
                        <table class="table table-striped" id="myTable" style="font-size: 14px;">
                            <thead>
                                <tr>
                                    <td>Tên lớp</td>
                                    <td>Mã Sinh viên</td>
                                    <td>Tên Sinh viên</td>
                                    <td></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of studentss | filter:search | orderBy: order:reverse | paginate: { itemsPerPage: pagesize, currentPage: p }">
                                	<td>{{item.id_nominalclass.id_nominalclass}}</td>
                                    <td>{{item.id_students}}</td>
                                    <td>{{item.name}}</td>
                                    <td>

                                            <div id="myModal3" class="modal fade">
                                                    <div class="modal-dialog modal-confirm">
                                                        <div class="modal-content">
                                                            <div class="modal-header flex-column">
                                                                <div class="icon-box">
                                                                    <i class="material-icons">&#xE5CD;</i>
                                                                </div>                      
                                                                <h4 class="modal-title w-100">Bạn có chắc chắn?</h4>    
                                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <p>Bạn có thực sự muốn xóa dòng này?</p>
                                                            </div>
                                                            <div class="modal-footer justify-content-center">
                                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Thoát</button>
                                                                <button type="button" class="btn btn-danger" (click)="onDeleteStudents(item.id_students)">Xóa</button>
                                                            </div>
                                                            <br>
                                                        <p style="color: red;" align="center">{{messDelete}}</p>
                                                        </div>
                                                    </div>
                                                </div>

                                        <button type="button" class="btn btn-danger" [style.margin-left.px]="5" (click)="onDeleteStudent(item.id_students)"><img
                                                src="https://cdn4.iconfinder.com/data/icons/free-ui/64/v-30-128.png"
                                                height="20px" width="20px" data-toggle="modal" href="#myModal3">
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div> <hr>
                    <pagination-controls class="pagination" (pageChange)="p = $event"></pagination-controls>

                    <label>Xem</label>&nbsp;
                          <select class="custom-select" style="width: auto" name="pagesize" [(ngModel)]="pagesize" >
                            <option [ngValue]="10">10</option>
                            <option [ngValue]="20">20</option>
                          </select>
                    <br><br>
                    </div><br>
                </div>
            </div>
            <div class="footer">
                @Bee.Poly.Edu.vn
            </div>
        </div>
    </div>

        <!-- The Modal -->
    <div class="modal fade" id="myModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">THÊM SINH VIÊN (FILE EXCEL)</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <form action="/action_page.php" id="Q_A" class="needs-validation" novalidate>

                        <ng-container>
                            <label for="pwd">Chọn file</label>
                            <input type="file" id="file" multiple name="file" #fileInput class="form-control" required><div class="invalid-feedback">Vui lòng chọn file!</div>
                            <br>
                            <button (click)="uploadFile();" class="btn btn-primary">Nhập sinh viên</button>
                        </ng-container>
                        <br><br><br>
                        <div *ngIf="messSuccess !=null" class="alert alert-success">
                            <strong>{{messSuccess}}</strong>
                        </div>
                         <div *ngIf="messErrors !=null" class="alert alert-danger">
                            <strong>{{messErrors}}</strong>
                        </div>
                    </form><br>
                </div>
            </div>
        </div>
    </div>

</body>

</html>